# Configuración del servidor
PORT=5000

# Base de datos MongoDB (Dejar en blanco para usar almacenamiento en memoria)
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/casevibe?retryWrites=true&w=majority

# Clave secreta para JSON Web Tokens
JWT_SECRET=tu_secreto_super_seguro_para_tokens_jwt
